/* fonts 
font-family: 'DM Serif Display', serif;
font-family: 'Inconsolata', monospace;
 */

body {
  /*margin-left: 50px;
  margin-right: 10%; */
  padding-left: 50px;
  font-size: 25px;
  font-family: Inconsolata;
/*   font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  /* background-color: rgb(241, 240, 240); */
  background-color:#2e272a;
  color: aliceblue;
}
h1 {
  text-align: center;
  font-size: 100px;
}
table {
  table-layout: fixed;
  width: 90%;
  text-align: center;

  border-collapse: collapse;
  border: 3px solid rgb(255, 255, 255);
}
th {
  padding-bottom: 5px;
  background-color: rgb(0, 0, 0);
}

tbody tr:nth-child(odd) {
  background-color: rgb(41, 41, 41);
}
tbody tr:nth-child(even) {
  background-color: rgb(94, 94, 94);
}

input[type="radio"] {
  
}

#btnIngresar {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
